*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color:skyblue;
}

.main h1{
    text-align: center;
    margin-top: 70px;
}
.form{
margin-top: 70px;
font-size: 18px;
margin-left: 36%;

}
.form input{ 
    font-size: 18px;
    width: 320px;
    height: 28px;
    outline: none;
    border: none;
    border-radius: 5px;
}
label{
    margin: 15px;
}
.form button{
    height: 27px;
    width: 60px;
    margin-left: 5px;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
    background-color: red;
}

.item-p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.items{
    background-color: white;
    width:375px;
    padding: 8px;
    border-radius: 5px;
}



@media(max-width:970px){
    .main{
        text-align: center;
    }
    .form{
        margin-left: -1%;
    }
}
@media(max-width:370px){
    .items{
        width: 250px;
    }
}